<form [formGroup]="rangeForm">
  <h2>Cartographie de la voix</h2>

  <!-- Registre 1 : Voix de poitrine -->
  <div class="registers">
    <fieldset>
      <legend>Registre 1 (Voix de poitrine)</legend>

      <mat-form-field appearance="fill">
        <mat-label>Sur-aigu</mat-label>
        <input
          matInput
          formControlName="register1ExtremeHigh"
          placeholder="ex: Ré5"
        />
        <mat-error
          *ngIf="rangeForm.get('register1ExtremeHigh')?.hasError('invalidNote')"
        >
          Note inconnue. Utilisez la notation française (ex: Ré5, Sol#3, Mi1)
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Aigu</mat-label>
        <input
          matInput
          formControlName="register1High"
          placeholder="ex: Sol3"
        />
        <mat-error
          *ngIf="rangeForm.get('register1High')?.hasError('invalidNote')"
        >
          Note inconnue. Utilisez la notation française (ex: Ré5, Sol#3, Mi1)
        </mat-error>
      </mat-form-field>

      <div class="note">Grand passage</div>
      <mat-form-field appearance="fill">
        <mat-label>Médium (fin)</mat-label>
        <input
          matInput
          formControlName="register1MidStop"
          placeholder="ex: La#2"
        />
        <mat-error
          *ngIf="rangeForm.get('register1MidStop')?.hasError('invalidNote')"
        >
          Note inconnue. Utilisez la notation française (ex: Ré5, Sol#3, Mi1)
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Médium (début)</mat-label>
        <input
          matInput
          formControlName="register1MidStart"
          placeholder="ex: Si1"
        />
        <mat-error
          *ngIf="rangeForm.get('register1MidStart')?.hasError('invalidNote')"
        >
          Note inconnue. Utilisez la notation française (ex: Ré5, Sol#3, Mi1)
        </mat-error>
      </mat-form-field>
      <div class="note">Petit passage</div>

      <mat-form-field appearance="fill">
        <mat-label>Grave</mat-label>
        <input matInput formControlName="register1Low" placeholder="ex: Sol1" />
        <mat-error
          *ngIf="rangeForm.get('register1Low')?.hasError('invalidNote')"
        >
          Note inconnue. Utilisez la notation française (ex: Ré5, Sol#3, Mi1)
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Infra-Grave (Fry)</mat-label>
        <input matInput formControlName="register1Fry" placeholder="ex: Mi1" />
        <mat-error
          *ngIf="rangeForm.get('register1Fry')?.hasError('invalidNote')"
        >
          Note inconnue. Utilisez la notation française (ex: Ré5, Sol#3, Mi1)
        </mat-error>
      </mat-form-field>
    </fieldset>

    <!-- Registre 2 : Voix de tête -->
    <fieldset>
      <legend>Registre 2 (Voix de tête)</legend>

      <mat-form-field appearance="fill">
        <mat-label>Sur-aigu</mat-label>
        <input
          matInput
          formControlName="register2ExtremeHigh"
          placeholder="ex: Ré5"
        />
        <mat-error
          *ngIf="rangeForm.get('register2ExtremeHigh')?.hasError('invalidNote')"
        >
          Note inconnue. Utilisez la notation française (ex: Ré5, Sol#3, Mi1)
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Aigu</mat-label>
        <input
          matInput
          formControlName="register2High"
          placeholder="ex: Do#4"
        />
        <mat-error
          *ngIf="rangeForm.get('register2High')?.hasError('invalidNote')"
        >
          Note inconnue. Utilisez la notation française (ex: Ré5, Sol#3, Mi1)
        </mat-error>
      </mat-form-field>

      <div class="note">Grand passage</div>
      <mat-form-field appearance="fill">
        <mat-label>Médium (fin)</mat-label>
        <input
          matInput
          formControlName="register2MidStop"
          placeholder="ex: Sol#3"
        />
        <mat-error
          *ngIf="rangeForm.get('register2MidStop')?.hasError('invalidNote')"
        >
          Note inconnue. Utilisez la notation française (ex: Ré5, Sol#3, Mi1)
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Médium (début)</mat-label>
        <input
          matInput
          formControlName="register2MidStart"
          placeholder="ex: Do3"
        />
        <mat-error
          *ngIf="rangeForm.get('register2MidStart')?.hasError('invalidNote')"
        >
          Note inconnue. Utilisez la notation française (ex: Ré5, Sol#3, Mi1)
        </mat-error>
      </mat-form-field>
      <div class="note">Petit passage</div>

      <mat-form-field appearance="fill">
        <mat-label>Grave</mat-label>
        <input matInput formControlName="register2Low" placeholder="ex: La#2" />
        <mat-error
          *ngIf="rangeForm.get('register2Low')?.hasError('invalidNote')"
        >
          Note inconnue. Utilisez la notation française (ex: Ré5, Sol#3, Mi1)
        </mat-error>
      </mat-form-field>
    </fieldset>
  </div>
</form>
