<div class="set">
  <div
    class="keyPlacement"
    *ngFor="let note of notes; let i = index"
    [style.--highlight-color]="getHighlightColor(note)"
  >
    <div
      class="black noselect"
      *ngIf="isBlackKey(note)"
      [class.highlighted]="isHighlighted(note)"
    >
      {{ noteAngloToFr(note) }}
    </div>
    <div
      class="white noselect"
      *ngIf="!isBlackKey(note)"
      [class.highlighted]="isHighlighted(note)"
    >
      {{ noteAngloToFr(note) }}
    </div>
  </div>
</div>
